@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext);
@import "mixins.less";
@import "carousel_fade.less";
@import "elements.less";

@menu_color: #a00606;
@bg_path: "/img/bg";

.container {
  width: 1170px !important;
}
body {
  font-family: 'Open Sans', sans-serif;
}

.text p {
  .fs(25px);
}
.mb0 {
  margin-bottom: 0;
}
.fs(@size) {
  font-size: @size;
}
.simple_text {
  text-transform: uppercase;
  color: #eee;
  .fs(32px);
}
.navbar-default {
  background-color: @menu_color;
  border: none;
  .drop-shadow(0, 3px, 5px, 0.8);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: @menu_color;
  color: black;
}
.navbar-default .navbar-nav > li > a {
  height: 100px;
  line-height: 70px;
  .fs(24px);
    color: white;
}
.navbar-default .navbar-nav {
  width: 950px;
  margin: 0 auto;
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: auto;
  float: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-color: #a00606;
  color: black;
  background-repeat: repeat-x;
}
.navbar-nav > li {
    display: table-cell;
    float: none;
    text-align: center;
}
.navbar-brand,
.navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

main {
  margin-top: 100px;
}
.white_line {
  width: 50%;
  background-color: white;
  height: 2px;
  position: absolute;
    opacity: 0.8
}

.addr {
    width: 100%;
    position: absolute;
    bottom: 10%;
    color: white;
}

.h1 {
  .fs(69px);
  color: white;
  text-align: center;
  text-transform: uppercase;
}

hr.line {
  background-color: red;
  width: 685px;
  text-align: center;
  height: 2px;
  border: none;
  margin-top: 35px;
  margin-bottom: 60px;
}


  .text {
    p {
      text-align: center;
      margin: 0 auto 40px;
    }
  }


.last_news {
  padding: 50px 0;
}
.bg_main {
  background-image: url("../../img/main_bg.jpg");
  background-size: cover;
}
.news_slider {
  background-color: rgba(255, 255, 255, 0.1);
  height:  400px;
  width: 900px;
  margin: 0 auto;
  .item {
    .drink {
      margin-bottom: 50px;
    }
    padding: 50px;
    p {
      .fs(34px);
      color: white;
    }
  }
}
.bg_black {
  background: #232323;
}
.menu {
  width: 900px;
  a {
    float: left;
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 36px;
    color: white;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    .chai,
    .kalyanu {
      padding-top: 20px;
      top: 40%;
      position: absolute;
      width: 100%;
      height: 100px;
    }
    .chai {
      background-color:  rgba(255, 255, 255, 0.3);
    }
    .kalyanu {
      background-color:  rgba(255, 0, 0, 0.3);
    }
  }
}



.social {
  width: 300px;
  margin-bottom: 30px;
  a {
    margin-left: 50px;
  }
}

.cont {
  margin-bottom: 30px;
}
.bg_zakaz {
  height: 725px;
  background: url("../../img/zakaz_bg.png") center center no-repeat;
}

.zakaz_form {
  width: 80%;
  position: relative;
  .form-group {
    margin-bottom: 44px;
    label.error {
      position: absolute;
      color: red;
    }
  }
  .form-control, button {
    .fs(32px);
    &:focus {
      box-shadow: none;
    }
    &.error {
      border: 1px solid red;
    }
    background-color: #f7dede;
    height: 52px;
    border: none;
  }
  .comment_input {
    height: 145px;
    margin-bottom: 55px;
  }
  button {
    background-color: #f7dede;
    width: 205px;
    height: 60px;
    position: relative;
    left: 10px;
  }
}
.pl_25 {
  padding-left: 25px;
}
footer {
  p {
    .fs(16px);
    color: white;
  }
  padding-top: 45px;
  height: 120px;
  background-color: #100e0f;
}





///*==========  Background  ==========*/
.black_img_bg {
  background: url("@{bg_path}/bg_black.jpg") repeat;
}

.white_img_bg {
  background: url("@{bg_path}/bg_white.jpg") repeat;
}

.bg_black {
  background: #232323;
}
///*==========  Base  ==========*/

.main_block {
  padding-top: 50px;
  padding-bottom: 50px;
}
///*==========  Gallery  ==========*/
.gallery {
  width: 85%;
  height: 590px;
  left: 15px;
  overflow: auto;
  a {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    img {
      width: 287px;
      height: 189px;
    }
  }
}
///*==========  Others  ==========*/

.no_padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
a {
  &:focus {
    outline: none;
  }
  outline: none;
}
///*==========  Img  ==========*/

#carousel img,
.map img {
  width: 100%;
}

#carousel_news {
  .item {
    &:hover {
      cursor: pointer;
    }
  }
}
///*==========  Modal  ==========*/
.modal-dialog {
  &.big {
    width: auto;
    .modal-content {
      padding: 50px;
    }
  }
  width: 800px;
  .drop-shadow(10, 10px, 50px, 0.3);
}
.modal-content {
  .rounded(0px);
  .price {
    .fs_30;
  }
}
.modal-header {
  padding: 0;
  border-bottom: none;
  .close {
    position: absolute;
    top: 10px;
    right: 17px;
    .color_white;
  }
}
///*==========  Text  ==========*/

.color_red {
      color: red;
}
.color_black {
    color: black;
}
.color_white {
    color: white ;
}

.fs_24 {
  .fs(24px);
}
.fs_15 {
  .fs(15px);
}
.fs_20 {
  .fs(20px);
}
.fs_30 {
  .fs(30px);
}
